@import "../variables.scss";

header {
  position: absolute;
}

.hamburger {
  background-color: transparent;
  border: none;
  display: none;
}

.close {
  background-color: transparent;
  border: none;

  &-btn-li {
    align-self: flex-end;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.4rem;
}

nav {
  display: none;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  height: 100vh;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3.2rem;
  gap: 3.2rem;
}

.nav-link {
  font-family: var(--alt-font);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: var(--white);

  &-number {
    font-weight: 700;
  }
}
